.nav {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content : space-around;
}

.nav > .nav-item { 
    background-color:yellow;
}
.nav-item > a {
    text-decoration: none;
}
a:link {
    color: white;
}
a:hover {
    background-color: blue;
}